
.container{

  button{

    float: right;
  }

  .gridContainer{
    min-height: 300px !important;

    & > div{
      min-height: 300px;
    }
  }

  .submitButton{
    float: right;
    margin-top: 20px;
  }
}
